// Abstracted Template Colors
// =================================
$primary : $wvu-blue;
$secondary : $wvu-gold;

$link: $pms-300-c;
$linkHover: $pms-144-c;
$linkVisited: $pms-300-c;

$emphasis-color:$pms-432-c;
$text-color: #444;
$strong-color: $black;

$shadow : rgba($black,.3);

// Common Colors Non-WVU Brand
// ==================================

$light-grey : #e9e9e9;
$error: #e74c3c;
$success: #18bc9c;
$warning: #f39c12;
$info: #1c699d;

// WVU Colors
// ==================================

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Neutral
$black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-warm-gray-11: #6E6259;
$pms-warm-gray-7: #968C83;
$pms-warm-gray-3: #BFB8AF;

// Accent
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$pms-629-c: #9BD3DD;
$pms-7554-c: #4B3D2A;
$pms-7557-c: #9F7D23;
$pms-144-c: #ED8B00;
$pms-7476-c: #0D5257;
$pms-5625-c: #708573;
$pms-558-c: #9ABEAA;
$pms-180-c: #BE3A34;
$pms-166-c: #E35205;
$pms-115-c: #FDDA24;